<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148652114136-p0b6kgr3ljruqpit98gopojie8t8s6k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148652114136-p0b6kgr3ljruqpit98gopojie8t8s6k4</string>
	<key>API_KEY</key>
	<string>AIzaSyDbKPntQ7KwDK-Dxdi0NczQeUC5ax6pho0</string>
	<key>GCM_SENDER_ID</key>
	<string>148652114136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase1</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-65e69</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-65e69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148652114136:ios:68876d93f265fed53017ad</string>
</dict>
</plist>