<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062630318973-q9k7t8m11gh1qdgql4c7f0s4k2olfk4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062630318973-q9k7t8m11gh1qdgql4c7f0s4k2olfk4l</string>
	<key>API_KEY</key>
	<string>AIzaSyBVdKqXHlH1wFYBt8Jk8xbkrJGMEqlqlmw</string>
	<key>GCM_SENDER_ID</key>
	<string>1062630318973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calculationBowling</string>
	<key>PROJECT_ID</key>
	<string>bowlingapp-ee600</string>
	<key>STORAGE_BUCKET</key>
	<string>bowlingapp-ee600.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062630318973:ios:ffae02446f0785226ee214</string>
</dict>
</plist>